<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="StarApps.guessIt" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Options"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".GameMode"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".HotPotato"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".TopScore"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".Custom"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".StartScreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_catch_phrase"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter >
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
